# config.yml
# Spine extra 230 pretrain config

data:
  train_image_dir: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/images"
  train_json_path: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/responses.json"
  train_label_csv: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/train.csv"
  metadata_csv: ""

  val_image_dir: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/images"
  val_json_path: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/responses.json"
  val_label_csv: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/val.csv"

  test_image_dir: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/images"
  test_json_path: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/responses.json"
  test_label_csv: "/data/QLI/Assignment_for_dl/Data/data_for_dl/Spine_extra_230/val.csv"

model:
  fusion_type: "multiscale"
  ablation_mode: "image_only"
  num_classes: 2

  image_encoder:
    backbone: "resnet18"
    feature_dim: 512
    pretrained: true
    freeze: false
    weights_path: "/home/medteam/.cache/torch/hub/checkpoints/resnet18-f37072fd.pth"

  text_encoder:
    model_name: "/home/medteam/.cache/huggingface/hub/models--bert-base-uncased/snapshots/86b5e0934494bd15c9632b12f734a8a67f723594"
    feature_dim: 768
    freeze: true

  classifier_type: "mlp"
  mlp_head:
    hidden_dim: 256
    dropout: 0.3

  tabular:
    enabled: false
    input_dim: 0
    hidden_dim: 128
    dropout: 0.1
    fields: ["age", "sex", "localization"]
    normalize: "zscore"

training:
  device: "cuda"
  gpu_ids: [0]
  batch_size: 32
  learning_rate: 0.0002
  num_epochs: 30
  optimizer: "AdamW"
  lr_scheduler: "warmup_cosine"
  warmup_epochs: 2

tokenizer:
  max_length: 64

output:
  log_dir: "/data/QLI/Assignment_for_dl/runs/"
  run_name: "Spine_extra230_pretrain"
